@import "tailwindcss";

:root{
    --prim-color: #f4e005;
    --body-color: #1c1c1c;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #cdcdcd;

    --bricolage-font:"bricolage Grotesque", sans-serif;
     --poppins-font:"poppins", sans-serif;

     --transition-regular:0.3s;
     --transition-regular:0.6s;
}
body{
    background-color: var(--body-color);
    color: var(--white-color);
}


.hero{
    width: 100% !important;
    height: 70vh;
    background-image: url(assets/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    z-index: 5;
}
body{
    background-color: white;
    width: 100%;
}
.hero:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}
/* input{
    background-color: rgba(134, 134, 218, 0.801);
    
} */
